@font-face {
    font-family: "Chewy";
    src: url(Chewy-Regular.ttf);
}
.backgroundColor {
   -fx-background-color: linear-gradient(to bottom, #86AEE9, #09316D);
   -fx-background-image: url("TopRight.png"),url("BottomLeft.png");
   -fx-background-position: 
        top right, 
        bottom left;
    -fx-background-repeat: 
        no-repeat, 
        no-repeat;
    -fx-background-size: 150px ;
}

.alert {
   -fx-background-color: linear-gradient(to bottom, #86AEE9, #09316D);
   -fx-background-image: url("TopRight.png");
   -fx-background-position: top right;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 150px ;
}

.rectangle {
    -fx-fill: #D9D9D9; 
    -fx-effect: dropshadow(gaussian, black, 20, 0, 5, 5);
}

.buttons{
   -fx-background-color: linear-gradient(to bottom, #1F60C1, #8D9CB3); 
   -fx-background-radius: 28;
   -fx-border-radius: 28;
   -fx-cursor: hand ;
   -fx-effect: dropshadow(gaussian, black, 20, 0, 5, 5);
}

.title{
    -fx-font-family:"Chewy";
    -fx-font-size: 35px;
}

.textFieldLabels{
     -fx-font-family:"Chewy";
    -fx-font-size: 28px;
    
}

.textField {
    -fx-max-width: 350px; 
    -fx-background-radius: 28;
    -fx-border-radius: 28; 
    -fx-padding: 10; 
    -fx-border-color: transparent; 
}

.usernametitle{
    
    -fx-font-family: "Chewy";
    -fx-font-size: 60px;    
}

.texts{
    
    -fx-font-family:"Chewy";
    -fx-font-size: 22px;
    
    
}

.smallTexts{
    
    -fx-font-family:"Chewy";
    -fx-font-size: 15px;
    
    
}

.buttonTexts{
    
    -fx-font-family:"Chewy";
    -fx-font-size:18px;
    
}

.dropShadowOnly{
    
    -fx-effect: dropshadow(gaussian, black, 20, 0, 5, 5);
    
}

.board{
    -fx-font-family:"Chewy";
    -fx-background-color: transparent;
    -fx-font-size: 60px;
}
.Main_txt{

    -fx-font-family:'Chewy';
    -fx-font-size: 80px;
}
.scroll-pane .viewport {
    -fx-background-color: transparent;
}